 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #3F3F3F;
  color: #fdfdfd
}

.logo {
  height: 9em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0em;
}

.button {
  margin: 0.5em;
}

.read-the-docs {
  color: #888;
}

.item {
  border: solid #888;
  border-width: 1 1px;
  padding-top: 1.5em;
  padding-right: 3em;
  padding-bottom: 1.5em;
  padding-left: 3em;
  height: 5%;
  overflow: hidden;
  margin: 0.75em;
  border-radius: 10px;
}
.rating-item {
  border: solid #888;
  border-width: 1 1px;
  padding: 0.25em;
  overflow: hidden;
  margin: 0.25em;
  text-align: center;
}

.title-item {
  /* border: solid #888;
  border-width: 1 1px; */
  padding-top: 0.3em;
  padding-right: 0em;
  padding-bottom: 0.3em;
  padding-left: 1.5%;
  overflow: hidden;
  margin: 0.15em;
  text-align: left;
  position: relative;
  line-height: 1em;
}

.desc-item {
  /* border: solid #888;
  border-width: 1 1px; */
  padding-top: 0.3em;
  padding-right: 0em;
  padding-bottom: 0.3em;
  padding-left: 2%;
  overflow: hidden;
  margin: 0.15em;
  text-align: left;
}

.info-item {
  padding-top: 0em;
  padding-right: 0em;
  padding-bottom: 0em;
  padding-left: 2%;
  overflow: hidden;
  margin: 0.25em;
  text-align: left;
}

.genre-item {
  padding-top: 0em;
  padding-right: 0em;
  padding-bottom: 0em;
  padding-left: 2%;
  overflow: hidden;
  margin: 0.25em;
  text-align: left;
}

.starring-item {
  padding-top: 0em;
  padding-right: 0em;
  padding-bottom: 0em;
  padding-left: 2%;
  overflow: hidden;
  margin: 0.25em;
  text-align: left;
}


.left-container {
  min-width: 15%;
  max-width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.middle-container {
  min-width: 50%;
  max-width: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}
.right-container {
  min-width: 25%;
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  border: solid #888;
  border-width: 1 1px;
  padding-top: 0.5em;
  padding-right: 3em;
  padding-bottom: 0.5em;
  padding-left: 3em;
  height: 5%;
  overflow: hidden;
  margin: 0.75em;
  border-radius: 10px;
  display: flex;
}

.movie-image {
  max-width: 170px;
  min-height: 255px;
  max-height: 255px;
}
.category-button {
  margin: 0.1em;
}

.search-container {
    margin: 1em;
}

.sidenav {
  height: 50%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 50%; /* 5% old*/
  /* background-color: #111; /* Black */
  /* overflow-x: hidden; Disable horizontal scroll */
  padding-top: 220px;
}

.sidenav-off {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sidenav->* {
  flex: 1 1 160px;
}

.close-button {
  font-size: 13px;
  background-color: rgb(170, 41, 41);
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 25%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 1em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}